// 1400以上
@media screen and (min-width: 1500px) {
}

// 1200-1400
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  #zoo {
    .animalClass {
      .class {
        li {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  #zoo {
    // Home區
    .news {
      .cards {
        flex-wrap: wrap;
        .IndexCard {
          max-width: 40%;
          padding: 20px 0;
        }
      }
    }

    .notice {
      flex-wrap: wrap;
      text-align: center;
      ul {
        width: 80%;
        padding: 30px 0;
      }
      .bg {
        width: 80%;
      }
    }

    // onlineBuy
    .cards {
      .card {
        width: 45%;
      }
    }

    .animalClass {
      .class {
        width: 100%;
        li {
          width: 20%;
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #zoo {
    // Home區
    .news {
      .cards {
        flex-wrap: wrap;
        .IndexCard {
          max-width: 40%;
          padding: 20px 0;
        }
      }
    }

    .notice {
      flex-wrap: wrap;
      text-align: center;
      ul {
        width: 80%;
        padding: 30px 0;
      }
      .bg {
        width: 80%;
      }
    }

    // ZONE區
    .zones {
      .zonebox {
        .zone {
          flex-wrap: wrap;
          .left-side {
            width: 80% !important;
          }
          .right-side {
            width: 80% !important;
          }
        }
      }
    }

    // onlineBuy
    .cards {
      .card {
        width: 45%;
      }
    }

    .cartLsit {
      .notBuy {
        font-size: 1.5rem;
        .noDataTitle {
          .gotoShopping {
            font-size: 1.7rem;
          }
        }
      }
    }

    //animaldata
    .animalClass {
      .class {
        width: 100%;
        li {
          width: 20%;
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #zoo {
    // Home區

    .news {
      .cards {
        flex-wrap: wrap;
        .IndexCard {
          max-width: 80%;
          padding: 20px 0;
        }
      }
    }

    .notice {
      flex-wrap: wrap;
      text-align: center;
      ul {
        width: 80%;
        padding: 30px 0;
      }
      .bg {
        width: 80%;
      }
    }

    // ZONE區
    .zones {
      .zonebox {
        .zone {
          flex-wrap: wrap;
          .left-side {
            width: 80% !important;
          }
          .right-side {
            width: 80% !important;
          }
        }
      }
    }
    // SZONE區
    .szone {
      img {
        height: 322px;
      }
    }

    // onlineBuy
    .cards {
      justify-content: center !important;
      .card {
        width: 85%;
      }
      margin-top: 3rem;
    }

    // cartlist
    .cartList {
      .cartLists {
        .list {
          .cartItem {
            ul {
              li {
                .el-input-number {
                  width: 100px;
                  .el-input-number__decrease {
                    width: 28px;
                  }
                  .el-input-number__increase {
                    width: 28px;
                  }

                  .el-input {
                    input {
                      padding-left: 27px;
                      padding-right: 27px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .notBuy {
        font-size: 1.8rem;
        .noDataTitle {
          .gotoShopping {
            font-size: 2rem;
          }
        }
      }
    }

    //animaldata

    .animalClass {
      max-width: 100vw !important;
      .class {
        padding: 2rem 0;
        width: 100%;
        border-bottom: 14px double #000;
        li {
          width: 20%;
          font-size: 1.5rem;
          padding: 0px 1rem;
        }
      }
      .animalDetails {
        margin-top: 10px;
        .mammals {
          display: block;
          width: 100%;
          .mammalData {
            max-height: 72vh;
            padding: 0;
            .mammalCard {
              li {
                .name {
                  font-size: 1.5rem;
                }
              }
            }
          }

          .AnimalDetail {
            display: block;

            .leftImg {
              img {
                // display: inline-block;
                width: 80%;
              }
            }

            .rightData {
              ul {
                width: 100%;
                .longInfo {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  body {
    width: 100vw;
    #app {
      width: 100vw;
      #zoo {
        // Home區
        .home {
          .zoneIntroduce {
            .notice {
              .bg {
                height: 300px;
              }
            }
          }
          .news {
            .cards {
              flex-wrap: wrap;
              .IndexCard {
                max-width: 80%;
                padding: 20px 0;
              }
            }
          }
        }

        .notice {
          flex-wrap: wrap;
          text-align: center;
          ul {
            width: 80%;
            padding: 30px 0;
          }
          .bg {
            width: 80%;
          }

          // ZONE區
          .zones {
            .zonebox {
              .zone {
                flex-wrap: wrap;
                .left-side {
                  width: 100% !important;
                }
                .right-side {
                  width: 100% !important;
                }
              }
            }
          }
        }

        //zone區
        .zones {
          h1 {
            margin: 2rem;
          }

          .zonebox {
            .zone {
              padding: 0;
              margin: 10px 0;
              width: 100%;
              flex-direction: column;

              .left-side {
                left: 0;
                .zoneName {
                  text-align: center;
                  font-size: 1.7rem;
                }
              }

              .right-side {
                width: 100%;
                margin: 0;
                &:nth-child(2) {
                  left: 0;
                }
                li {
                  font-size: 1.3rem;
                }
              }

              &:nth-child(2) {
                .left-side {
                  align-items: center;
                  // .zoneName {
                  //   text-align: center;
                  // }
                }
              }
            }
          }
        }

        // szone區
        .szone {
          margin-top: 10rem;
        }

        // onlineBuy
        .cards {
          justify-content: center !important;
          .card {
            width: 85%;
          }
          margin-top: 3rem;
        }

        // cartlist
        .cartList {
          .cartLists {
            .list {
              .cartItem {
                ul {
                  li {
                    .el-input-number {
                      width: 80px;
                      .el-input-number__decrease {
                        width: 20px;
                      }
                      .el-input-number__increase {
                        width: 20px;
                      }

                      .el-input {
                        input {
                          padding-left: 19px;
                          padding-right: 19px;
                        }
                      }
                    }
                  }
                }
              }
            }

            .payment {
              flex-wrap: wrap;
              justify-content: center;
              .fee {
                margin: 25px 0 50px;
              }
            }
          }
          .notBuy {
            font-size: 1.4rem;
            .noDataTitle {
              .gotoShopping {
                font-size: 1.6rem;
              }
            }
          }
        }

        //animaldata

        .animalClass {
          max-width: 100vw;
          .class {
            width: 100%;
            padding: 2rem 0;
            border-bottom: 14px double #000;
            li {
              width: 20%;
              padding: 0px 0.5rem;
              font-size: 1rem;
            }
          }

          .animalDetails {
            .mammals,
            .birds,
            .amphibians,
            .osteichthyes,
            .reptiles {
              display: block !important;
              width: 100%;
              .mammalData {
                padding: 0;
              }
              .AnimalDetail {
                .leftImg {
                  width: 100%;
                }

                .rightData {
                  ul {
                    width: 100%;
                    .longInfo {
                      width: 100%;
                    }
                  }
                }

                .menuBTN {
                  bottom: -67px;
                  img {
                    width: 42px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
