// 1400以上
@media screen and (min-width: 1400px) {
}

// 1200-1400
@media screen and (min-width: 1200px) and (max-width: 1400px) {
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  // Home區
  .news {
    .cards {
      flex-wrap: wrap;
      .IndexCard {
        max-width: 40%;
        padding: 20px 0;
      }
    }
  }

  .notice {
    flex-wrap: wrap;
    text-align: center;
    ul {
      width: 80%;
      padding: 30px 0;
    }
    .bg {
      width: 80%;
    }
  }

  // onlineBuy
.cards {
  .card {
    width: 45%;
    }
}

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  // Home區
  .news {
    .cards {
      flex-wrap: wrap;
      .IndexCard {
        max-width: 40%;
        padding: 20px 0;
      }
    }
  }

  .notice {
    flex-wrap: wrap;
    text-align: center;
    ul {
      width: 80%;
      padding: 30px 0;
    }
    .bg {
      width: 80%;
    }
  }

  // ZONE區
  .zones {
    .zonebox {
      .zone {
        flex-wrap: wrap;
        .left-side {
          width: 80%!important;
        }
        .right-side {
          width: 80%!important;
        }
      }
    }
  }

 // onlineBuy
.cards {
  .card {
    width: 45%;
    }
}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  // Home區
  .news {
    .cards {
      flex-wrap: wrap;
      .IndexCard {
        max-width: 80%;
        padding: 20px 0;
      }
    }
  }

  .notice {
    flex-wrap: wrap;
    text-align: center;
    ul {
      width: 80%;
      padding: 30px 0;
    }
    .bg {
      width: 80%;
    }
  }

  // ZONE區
  .zones {
    .zonebox {
      .zone {
        flex-wrap: wrap;
        .left-side {
          width: 80%!important;
        }
        .right-side {
          width: 80%!important;
        }
      }
    }
  }

  // onlineBuy
.cards {
  justify-content: center!important;
  .card {
    width: 85%;
    }
    margin-top: 3rem;
}

// cartlist
  .cartList {
    .cartLists {
      .list {
          .cartItem {
            ul {
              li {
                .el-input-number {
                  width: 100px;
                  .el-input-number__decrease {
                    width: 28px;
                  }
                  .el-input-number__increase {
                    width: 28px;
                  }

                  .el-input {
                    input {
                      padding-left:27px;
                      padding-right:27px;
                    }
                  }
                }
              }
            }
          }
      }
    }
  }
}

@media screen and (min-width:300px)  and (max-width: 576px) {
  // Home區
  .news {
    .cards {
      flex-wrap: wrap;
      .IndexCard {
        max-width: 80%;
        padding: 20px 0;
      }
    }
  }

  .notice {
    flex-wrap: wrap;
    text-align: center;
    ul {
      width: 80%;
      padding: 30px 0;
    }
    .bg {
      width: 80%;
    }

    // ZONE區
    .zones {
      .zonebox {
        .zone {
          flex-wrap: wrap;
          .left-side {
            width: 100%!important;
          }
          .right-side {
            width: 100%!important;
          }
        }
      }
    }
  }

   // onlineBuy
.cards {
  justify-content: center!important;
  .card {
    width: 85%;
    }
    margin-top: 3rem;
}

// cartlist
.cartList {
  .cartLists {
    .list {
        .cartItem {
          ul {
            li {
              .el-input-number {
                width: 80px;
                .el-input-number__decrease {
                  width: 20px;
                }
                .el-input-number__increase {
                  width: 20px;
                }

                .el-input {
                  input {
                    padding-left:19px;
                    padding-right:19px;
                  }
                }
              }
            }
          }
        }
    }

    .payment {
      flex-wrap: wrap;
      justify-content: center;
      .fee {
        margin: 25px 0 50px
      }
    }
  }
}

}
